<div class="maincontant text-center">
<h2>Editing Post</h2>

<%= render 'form' %>

<%= link_to 'Show', @post,:class=>"btn btn-success" %> |
<%= link_to 'Back', posts_path,:class=>"btn btn-default" %>
</div>
