<div class="maincontant text-center newpost">
<h1>Editing Story</h1>

<%= render 'form' %><br>

<%= link_to 'Show', @post,:class=>"btn btn-success" %> |
<%= link_to 'Back', posts_path,:class=>"btn btn-default" %>
</div>
