<div class="maincontant text-center newpost"><br>
<link href="/posts.scss" rel="stylesheet">

<h1>New Story</h1><br>

<%= render 'form' %><br>

<%= link_to 'Back', posts_path,:class=>"btn btn-default" %>

</div>