// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.checkbox {
	margin-left: -8px;
}


.boxed {
  border: 2px solid ;
  width: 50%;
  margin: 0 auto
}



h1 {
text-align: center;
font-family: 'Abril Fatface', cursive!important;
color: #800080!important;

}


input[type=file] {
    display: inline!important;
}


.maincontant {
margin-top:65px!important;
padding-bottom: 100px;	
}


.textareasize {
    width: 600px;
    height: 200px;
}

.textcolor {
	color: #800080;
}

article
{
    width: 80%;
    margin:auto;
    margin-top:10px;
}


.thumbnail{

    height: 100px;
    margin: 10px;    
}